@charset "utf-8";
/* CSS Document */
#site-header {
    display: flex;
    width: 100%;
    margin: auto;
}
#site-header #site-menu {
    flex-direction: column;
    
}
#site-header #site-menu {
    display: flex;
    flex-grow: 1;
}
#site-menu {
	display: block;
	align-content: right;
	align-self: right;
	align-items: stretch;
}
a {
	font-size: 18px;
    font-family: "rubik", "Segoe", "Segoe UI", "DejaVu Sans", "Trebuchet MS", "Verdana", "sans-serif"
}
ul {
    display: flex;
    width: 100%;
    margin: auto;
	height: 200%;
}

li {
    display: block;
    color: white;
    text-align: center;
    
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#site-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: #000000;
    height: 60px;
}